// TODO: Need licenses for a Avenir Next! CANT GO TO PRODUCTION!
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNextCyr-Regular.eot');
  src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'),
    url('../assets/fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/AvenirNextCyr-Regular.woff') format('woff'),
    url('../assets/fonts/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/AvenirNextCyr-Demi.eot');
  src: local('Avenir Next Cyr Demi'), local('AvenirNextCyr-Demi'),
    url('../assets/fonts/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/AvenirNextCyr-Demi.woff') format('woff'),
    url('../assets/fonts/AvenirNextCyr-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
