.restaurant {

	&-map {

		iframe {
			display: block;
		}
	}

	&-header {
		padding: 11px 12px 12px;
		background-color: #34B379;
		color: #fff;
	}

	&-name {
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 6px;
	}

	&-category {
		font-size: 12px;
	}

	&-info {
		color: #2a2a2a;
		font-size: 16px;
		padding: 16px 12px;
		display: flex;
		flex-direction: column;
	}

	&-address,
	&-phone {
		margin-bottom: 26px;
	}

	&-phone,
	&-twitter {
		display: inline-block;
		color: #2a2a2a;
		text-decoration: none;
	}
}