<div class="restaurant-map">
  <!-- TODO: map here -->
</div>
<div class="restaurant-header">
  <div class="restaurant-name">{{restaurant.name}}</div>
  <div class="restaurant-category">{{restaurant.category}}</div>
</div>
<div class="restaurant-info">
  <div class="restaurant-address">
    <div>{{restaurant.location.formattedAddress[0]}}</div>
    <div>{{restaurant.location.formattedAddress[1]}}</div>
  </div>
  <ng-container *ngIf="restaurant.contact">
    <a class="restaurant-phone" href="tel:9723872337">{{restaurant.contact.formattedPhone}}</a>
    <a *ngIf="restaurant.contact.twitter" class="restaurant-twitter" href="https://twitter.com/hopdoddy">@{{restaurant.contact.twitter}}</a>
  </ng-container>
</div>
