<div class="wrapper">

  <!-- START HEADER -->
  <header class="header">
    <!-- TODO: confirm that I hav ea right icon file.
              Seems like this icon is way thinner than the one in comps -->
    <a href="" class="header-back">
      <span class="icon icon-back"></span>
    </a>
    <!-- TODO: do we need translation? -->
    <h1>Lunch Tyme</h1>
    <span class="icon icon-map"></span>
  </header>
  <!-- END HEADER -->

  <main class="main">
    <router-outlet></router-outlet>
  </main> 

  <!-- START FOOTER -->
  <footer class="footer">
    <ul class="footer-tabs">
      <li>
        <a class="active" href="">
          <span class="icon icon-lunch"></span>
          <span>lunch</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="icon icon-internets"></span>
          <span>internets</span>
        </a>
      </li>
    </ul>
  </footer>
  <!-- END FOOTER -->

</div>
